mat-card {
  display: inline-flex;
}

.card-container {
  max-width: 15rem;
  max-height: 30rem;
  margin: 15px;
}
.card-content {
  > mat-card-title {
    font-size: 0.8rem;
    white-space: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  > mat-card-subtitle {
    font-size: 0.7rem;
  }
  > img {
    max-width: 200px;
    max-height: 288px;
    border-radius: 5px;
  }
}
