.mat-card-container {
  display: inline-flex;
  margin: 10px 10px;
  overflow: hidden;
}
.card-film {
  width: 300px;
  height: 100%;
  margin: 0 10px 10px 0;
}
.card-content {
  text-align: center;
}
.card-content img {
  width: 150px;
  opacity: 0.7;
  transition: 0.2s;
  border-radius: 5px;
  margin-bottom: 10px;
}
.card-content img:hover {
  opacity: 1;
  transition: 0.8s;
}
.card-description {
  text-align: justify;
  margin-bottom: 15px;
}
.mat-card-category {
  margin-bottom: 0.5rem;
}
.mat-card-category h3 {
  text-indent: 15px;
  font-size: 0.9rem;
}
.mat-card-title h2 {
  padding: 5px;
  font-size: 1.2rem;
}
.card-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.5rem;
}
