<mat-card
  ><mat-card-content class="container">
    <h1 style="text-align: center">👋 Olá! Sou <span>Ramon Trindade</span></h1>
    <p>
      Sou desenvolvimento web. Atualmente, estou mergulhado no estudo do
      <strong>front-end</strong>, mas meu objetivo é o desenvolvimento
      full-stack. Como estudante de
      <strong>Análise e Desenvolvimento de Sistemas</strong>, estou comprometido
      em expandir minha expertise em programação, atualmente focado em
      aprofundar meu conhecimento em <strong>Angular</strong> para complementar
      minhas habilidades já consolidadas em tecnologias como
      <strong>JavaScript</strong>, <strong>TypeScript</strong>,
      <strong>HTML</strong>, <span>CSS</span> e <strong>NodeJS</strong>. Possuo
      também noções básicas em banco de dados relacionais, especialmente em
      <span>MySQL</span>. Estou motivado a explorar novas tecnologias e
      conceitos para me destacar no mercado de trabalho e contribuir de forma
      significativa para os projetos e desafios da equipe. Minha dedicação ao
      aprendizado contínuo e minha experiência prática me capacitam a enfrentar
      diversas demandas e a evoluir constantemente como profissional de
      desenvolvimento de software.
    </p>
  </mat-card-content></mat-card
>
