<mat-card class="mat-elevation-z2">
  <mat-card-title class="title"> Bem vindo ao Projeto</mat-card-title>
  <mat-card-content class="mat-card-content">
    <img class="logo" src="assets/logo.svg" alt="" />
    <p>
      Este projeto é um marketplace de filmes simples criado com o Framework
      Angular
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title> Projeto MarketPlace de Filmes 🚀 </mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
    alt="Imagem representativa do projeto"
  />
  <mat-card-content>
    <p>
      Com o objetivo de criar uma experiência de compra mais eficiente e
      dinâmica, mergulhei de cabeça na implementação de diversas tecnologias de
      ponta.
    </p>
    <ul>
      <li>
        <strong>Integração de API Rest:</strong> Utilizei requisições HTTP para
        consumir uma API Rest, proporcionando uma conexão instantânea com um
        vasto leque de produtos e informações atualizadas em tempo real.
      </li>
      <li>
        <strong>Snackbar Dinâmico:</strong> Ao adicionar ou remover produtos do
        carrinho, implementei um snackbar que oferece feedback imediato ao
        usuário, tornando a experiência de compra mais interativa e
        satisfatória.
      </li>
      <li>
        <strong>Angular 17 em Ação:</strong> Aproveitei ao máximo as novas
        funcionalidades e melhorias do Angular 17, incluindo o uso de sinais
        (signals) para otimizar o fluxo de dados e aprimorar a performance da
        aplicação.
      </li>
      <li>
        <strong>Layout Responsivo de Ponta a Ponta:</strong> Um dos pontos-chave
        do projeto foi o desenvolvimento de um layout totalmente responsivo,
        garantindo uma experiência consistente e funcional em todos os
        dispositivos, desde smartphones até desktops de alta resolução.
      </li>
    </ul>
    <p>
      Estou incrivelmente empolgado com os resultados alcançados e animado para
      compartilhar mais detalhes em breve. Este projeto é apenas o começo de uma
      jornada contínua de inovação e aprimoramento na experiência de compra
      online. 🛒✨
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent">Tecnologia</button>
    <button mat-raised-button color="accent">CompraOnline</button>
    <button mat-raised-button color="accent">Angular17</button>
    <button mat-raised-button color="accent">APIRest</button>
    <button mat-raised-button color="accent">DesenvolvimentoWeb</button>
  </mat-card-actions>
</mat-card>
