<h1
  style="
    text-align: center;
    background-color: black;
    padding: 20px;
    color: white;
  "
>
  Carrinho <mat-icon style="transform: translateY(4px);">shopping_cart</mat-icon>
</h1>
<mat-card class="mat-elevation-z8">
  @for (film of listSelectedFilms; track film.id) {

  <mat-card-content>
    <div class="card-title">
      <mat-card-title>{{ film.name }}</mat-card-title>
      <mat-card-subtitle>{{ film.price | currency : "BRL" }}</mat-card-subtitle>
    </div>
    <div class="card-price">
      <img src="{{ film.imgLink }}" />
      <button mat-icon-button color="warn" (click)="unselectFilm(film)">
        <mat-icon>close</mat-icon>
      </button>
    </div> </mat-card-content
  >} @empty {
  <h1>Não há nada adicionado ao carrinho</h1>
  }
</mat-card>

<button mat-raised-button mat-dialog-close class="btn-close" routerLink="/checkout">Fazer checkout</button>
<button mat-raised-button mat-dialog-close class="btn-close">Fechar carrinho</button>
