@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error{
    background-color: #eb3f5b;
    color: #f2f2f2;
}

.sucess{
    background-color: #00f514;
    color: #f2f2f2;   
}