/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

// STYLE SNACK BAR

.mat-mdc-snack-bar-container {
  &.green-snackbar {
    --mdc-snackbar-container-color: #0aa80a !important;
    --mat-mdc-snack-bar-button-color: #fff !important;
    --mdc-snackbar-supporting-text-color: #fff !important;
  }
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}
.mat-mdc-snack-bar-container {
  &.black-snackbar {
    --mdc-snackbar-container-color: black !important;
    --mat-mdc-snack-bar-button-color: #fff !important;
    --mdc-snackbar-supporting-text-color: #fff !important;
  }
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}
.mat-snack-bar-container {
  margin-right: auto !important;
  margin-left: auto !important;
  width: 40vw !important;
  min-width: 90% !important;
  max-width: 100vw !important;
  margin-top: 70px !important;
  padding: 20px !important;
}
