<mat-card class="mat-card-main mat-elevation-z4">
  <mat-card-title>
    <h2>Checkout</h2>
    <h3>Filmes selecionados {{ listSelectedFilms.length }}</h3>
  </mat-card-title>

  <mat-card class="mat-elevation-z8" [class.isValid]="disabled === true">
    @for (film of listSelectedFilms; track film.id) {
    <mat-card-content class="mat-card-film">
      <div class="card-title">
        <mat-card-title>{{ film.name }}</mat-card-title>
        <mat-card-subtitle>{{
          film.price | currency : "BRL"
        }}</mat-card-subtitle>
      </div>
      <div class="card-price">
        <img src="{{ film.imgLink }}" />
        <button mat-icon-button color="warn" (click)="exclude(film)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card-content>
    }
  </mat-card>
  <h3>Preço total: {{ totalPrice | currency : "BRL" }}</h3>
</mat-card>

<mat-card class="mat-elevation-z8 mat-form">
  <form id="form">
    <div>
      <mat-form-field appearance="outline" class="input-form">
        <mat-label>Nome</mat-label>
        <input
          matInput
          placeholder="Escreva seu nome"
          required
          name="name"
          [disabled]="disabled === true"
        />
        <mat-icon matSuffix required>person</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-form">
        <mat-label>Qual seu endereço?</mat-label>
        <input
          matInput
          placeholder="Qual seu endereço?"
          required
          name="adress"
          [disabled]="disabled === true"
        />
        <mat-icon matSuffix required>home</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="input-form">
        <mat-label>Entre com sua senha</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          required
          name="password"
          [disabled]="disabled === true"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <button
      type="submit"
      mat-flat-button
      class="mat-pay"
      (click)="payment()"
    >
      Confirme o Pagamento.
    </button>
    <button type="submit" mat-flat-button class="mat-cancel" (click)="cancel()">
      {{ disabled ? "Voltar" : "Cancel" }}
    </button>
  </form>
</mat-card>
